.list-container {
  position: absolute;
  text-align: center;
  margin: 143px 88px 199px 200px;
  font-size: 8px;


  .item-name {
    font-size: 12px;
    padding: 10px 10px;
  }

  .item-link {
    font-size: 8px;
    padding: 5px 5px;
  }

  .item {
    border-style: inset;
    border-left: none;
    border-right: none;
    border-top: none;
  }
}
